.heading {
    width:100%;
    font-size: 19px;
    box-shadow: 10px 10px 10px darkblue;
    margin:0px;
}
.copy_right_footer {
    position:fixed;
    width:100%;
    text-align:center;
    color: yellow;
    background-color: blue;
    box-shadow:-10px -10px 10px yellow;
    bottom:00px;
   
}
canvas {
    border: 10px solid crimson;
    border-radius: 30px;
}
